body {
    background-color: #0B0B3B;
	font-family: times-new-roman;
    font-size: 300%;
}
.topo{
	position: solid
	top: 0px;
	left: 0px;
	background-color: #cccccc;
	height: 200px;
	width: 1570px;
}
.lateral_esquerda {
	position: solid
	top: 201px;
	left: -60px;
	background-color: #bdbdbd;
	height: 450px;
	width: 350px;
}	
.barra_inferior {
	position: solid
	top: 401px;
	left: -50px;
	background-color: #cccccc;
	height: 130px;
	width: 1570px;
}
header {
	color: #E6E6E6
}